<p id="notice"><%= notice %></p>

<h1>People listin</h1>

<% Person.all.each do |people| %>
<%# <% Person.all.where('assessment_count > 0 && title LIKE ABC && ORDERED BY last_name') %>

<%= people["first_name"] %>
<%= people["last_name"] %>

<% end %>
<% end %>
